<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>consulterDemande</display-name>
  <servlet>
    <description></description>
    <display-name>ConsulterDemandeServlet</display-name>
    <servlet-name>ConsulterDemandeServlet</servlet-name>
    <servlet-class>com.greenBottle.servlet.ConsulterDemandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulterDemandeServlet</servlet-name>
    <url-pattern>/consultation</url-pattern>
  </servlet-mapping>
  
  <display-name>modifierProfil</display-name>
  <servlet>
    <description></description>
    <display-name>ModifierProfilServlet</display-name>
    <servlet-name>ModifierProfilServlet</servlet-name>
    <servlet-class>com.greenBottle.servlet.ModifierProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierProfilServlet</servlet-name>
    <url-pattern>/modifierProfil</url-pattern>
  </servlet-mapping>
    
    <display-name>AnnulerDemandeServlet</display-name>
    <servlet>
    <description></description>
    <display-name>AnnulerDemandeServlet</display-name>
    <servlet-name>AnnulerDemandeServlet</servlet-name>
    <servlet-class>com.greenBottle.servlet.AnnulerDemandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnulerDemandeServlet</servlet-name>
    <url-pattern>/annulerDemandeServlet</url-pattern>
  </servlet-mapping>
  
</web-app>